@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SUIT Variable';
}

@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.woff2') format('woff2-variations');
}

@layer base {
  html {
    --color-background: #f5f5f5;
    --color-bright: #ffffff;
    --color-dark: #e1e1e1;
    --color-paragraph: #000000;
  }

  html.dark {
    --color-background: #1c1c1c;
    --color-bright: #242424;
    --color-dark: #141414;
    --color-paragraph: #ffffff;
  }
}

@layer components {
  .tr {
    @apply flex h-8 items-center;
  }

  .th {
    @apply w-16 ml-2 md:ml-0 font-bold;
  }

  .td {}
}